.tableau{
    background-color: aquamarine;
    border : 3px solid;
    border-collapse: collapse;
    text-align: center;
}
.tableau tr th{
    font-weight: 900;
    border : solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.tableau tr td{
    font-weight: 400;
    border : solid black;
    padding-left: 20px;
    padding-right: 20px;
}

#reservation {
    background-color: aqua;
}

#bannis {
    background-color: red;
}

.horizontal{
    background-color:#37c2e1;
}

a[href="connexion.html"], a[href="inscription.html"] {
    color: black;
}

.recherche {
    background-color: #3095cb;
}

.recherche input[type="text"] {
    background-color: #3095cb;
    color:white;
}

.inscription {
    background-color:#3095cb;
    color: white;
}

.connexion {
    background-color:#3095cb;
    color: white;
}

.section {
    background-color:#e6ddc6 ;
    color: black;
}

.paragraph{
    background-color: #e6ddc6 ;
}