.recherche1 {
    display: flex;
    justify-content:start;
    background-color: #550000;
    border-radius: 10px;
    height: 30px;
    padding: 7px;
    width: 20%;
}

.recherche1 input[type="text"] {
    width: 90%;
    border: none;
    outline: none;
    padding: 5px;
    color:#FFAAAA;
    background-color:#550000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.filtrer {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #550000;
    border-radius: 20px;
    height: auto;
    padding: 7px;
    width:auto;
    color:#FFAAAA;
    font-size:14px;
}

ul {
    text-decoration:none;
    width:auto;
    width:100%;
}

li {
    display:inline-block;
    width:auto;
    border-bottom:2px solid #550000;
    margin-bottom:30px;
    height:auto;
    vertical-align:top;
}

.group1 {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2%;
    width:100%;
}

.group2 {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    gap:2%;
    width:100%;
}

.endroit {
    display:flex;
    align-items:center;
    flex-direction:column;
    width:auto;
}

.imagedestination {
    height:auto;
    width: 200px;
    margin-right:6px;
}

p {
    width:auto;
}

li p {
    width:200px;
}