.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #550000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #FFAAAA;
    border-radius: 10px;
    width: 60%;
    height: 50px;
    margin: 70px auto 0px auto; /*Le 70px c'est pour qu'il ne soit pas cache par la barre horizontale contenant le nom du site et auto c'est pour centrer horizontalement*/
    font-size: 30px;
}

.paragraph1 {
    display: flex;
    flex-direction:column;/*Tous les elements dans paragraphe se suivent sur la meme colonne*/
    align-items: center; 
    gap: 15px;
    background-color: #FFAAAA;
    width: 60%;
    color: black;
    height: auto; 
    margin: 5px auto 0px auto;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: bold;
}

label {
    font-size: 20px;
    text-align: center;
}

input {
    border-radius: 5px;
    padding: 5px;
    height: 25px;
    width: 80%;
    border: 1px solid #550000;
    text-align: center;
}

i {
    /*C'est le font awesome qui simule la modification d'un champ*/
    border:2px solid #550000;
    padding:5px;
    border-radius:10px;
    cursor:pointer;/*Pour qu'il soit cliquable*/
    margin-left:3px;
}

.group {
    display:flex;
    justify-content: space-between;
    width:80%;
}

.choixradio {
    display: flex;
    justify-content:center;
    gap:5%;
    width: 70%;
}

input[type="radio"] {
    /*Pour cacher les boutons radio*/
    display: none;
}

/* Style des labels qui servent de boutons */
.civiliteLabel {
    background-color: #D46A6A;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;/*Pour que ca soit clickable*/
    font-weight: bold;
    color: white;
}

@media (max-width:800px) {
    .civiliteLabel {
        font-size:15px
    }
}

input[type="radio"]:checked + .civiliteLabel {
    background-color: #550000;
    transform: scale(1.1); /*Agrandire la case*/
}
