/*DEBUT DE L'ENTÊTE*/

@font-face {
    font-family: Star_Jedi;
    src: url(../Data/Starjedi.ttf);
}

body {
    background-image: url("../Data/blue_sky.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.horizontal {
    display: flex;
    align-items: center;/*Pour centrer le contenu verticalement*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;/*Pour le mettre au premier plan*/
    background-color: #37c2e1;
}

.nomSite {
    display: flex;
    justify-content: flex-start;/*Pour qu'il se positionne à gauche*/
    align-items: center;
    font-family: Star_Jedi;
    font-size: 40px;
    margin: 0px 0px 7px 10px;
    word-spacing: -13px;/*Pour coller un peu plus le mot "Star" du mot "Tour" dans le nom du site*/
}

.horizontal a[href="index.php"], .horizontal a[href="connexion.php"], .horizontal a[href="inscription.php"], .horizontal a[href="informations.php"], .horizontal a[href="admin.php"], .horizontal a[href="../PHP/deconnexion.php"] {
    text-decoration: none;
    color : black;
}

.recherche {
    display: flex;
    align-items: center;
    width: 270px;
    height: 30px;
    margin-left: auto;
    padding: 7px;
    border-radius: 10px;
    background-color: #3095cb;
}

.recherche input[type="text"] {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #3095cb;
    color: black;
    width: 260px;
    padding: 5px;
    border: none;
    outline: none;
}

.inscription, .informations {
    display: flex;
    justify-content: flex-end;/*Pour le mettre tout à droite*/
    align-items: center;
    height: 25px;
    margin-left: auto;
    padding: 7px;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #3095cb;
}

.connexion, .deconnexion, .admin {
    display: flex;
    justify-content: flex-end;/*Pour le mettre tout à droite*/
    align-items: center;
    height: 25px;
    margin: 0px 15px 0px 15px;
    padding: 7px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #3095cb;
}

.admin {
    margin-left: 0px;
}

/*Pour cacher des éléments en fonction de la largeur de l'écran*/
.cache {
    display: none;/*Pour ne pas afficher un élément*/
}

/*Remplace "S'inscrire" et "Se connecter" de l'entête par une îcone si la largeur de l'écran est inférieure à 820px*/
@media (max-width:820px) {
    .cache {
        display: block;/*Pour afficher l'élément caché*/
        margin-right: 5px;
        border-radius: 90px;
    }

    .montre {
        display: none;/*Pour ne pas afficher un élément*/
    }

    .recherche input[type="text"] {
        width: 150px;
    }

    .recherche {
        width: 160px;
    }
}

/*FIN DE L'ENTÊTE*/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 75px auto 0px auto;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    background-color: #6bb4d6;
}

/*Réduit la taille de la police si la largeur de l'écran est inférieure à 560px*/
@media (max-width:560px) {
    .nomSite {
        font-size:30px;
    }
    
    .section {
        font-size:20px;
    }
}

/*Réduit la taille de la police si la largeur de l'écran est inférieure à 410px*/
@media (max-width:410px) {
    .nomSite {
        font-size:25px;
    }
}

.paragraph {
    display: flex;
    flex-direction: column;/*Pour que le flux soit vers le bas*/
    align-items: center;
    gap: 20px; /*Pour espacer les éléments*/
    width: 80%;
    height: auto;
    margin: 5px auto 0px auto;
    padding: 1px 0px 20px 11px;
    border-radius: 10px;
    box-sizing: border-box;/*Pour faire en sorte que la largeur et hauteur définies ne tiennent pas en compte de border et padding*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    color: black;
    background-color: #e6ddc6;
}

.image-container {
    display: flex;
    justify-content: space-between; /*Pour écarter les images*/
    width: 70%;
    padding: 0 15%;
}

.image1, .image2 {
    width: 22vw;/*l'unité vw dépend de la largeur de l'écran*/
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
}

.image345 {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
}

.destination {
    display: flex;
    border-spacing: 5px;
    width: 100%;
}

.destination tr td:nth-child(odd) {
    width: 25%;
    height: 15%;
}

.destination tr td:nth-child(even) {
    height: 15%;
    border-bottom: 2px solid black;
    text-align: left;
}

a[href="destinations.php"], a[href="etapes.php"] {
    display: flex;
    justify-content: center;/*Pour centrer horizontalement*/
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    background-color: #3095cb;
}

/*DESTINATIONS.php*/

.group1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 70%;
}

.recherchedestinations {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 70%;
}

.recherchedestinations input[type="text"] {
    display: flex;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    background-color: #3095cb;
    border: none;
    outline: none;
}

.filtrer {
    display: flex;
    width: 90%;
    height: auto;
    padding: 7px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
    color: black;
    background-color: #3095cb;
}

.group2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.group2 ul {
    text-decoration: none;
    width: 100%;
}

.group2 ul li {
    display: inline-block;/*Pour mettre les li sur la même ligne*/
    width: auto;
    height: auto;
    vertical-align: top;
    margin: 0px 10px 30px 0px;
}

.group2 ul li a {
    text-decoration: none;
    color: black;
}

.endroit {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    border: 2px solid black;
}

.imagedestination {
    height: auto;
    width: 290px;
}

.group2 p {
    width:290px;
    padding-left: 3px;
    box-sizing: border-box;
}

.titredestination {
    display: flex;
    justify-content: center;
    font-family: Star_Jedi;
    font-size: 13px;
    margin-bottom: 0px;
}

/*CONNEXION.php*/ /*INSCRIPTION.php*/

.pageconnexion {
    width: 50%;
}

.pageinscription {
    width: 55%;
}

@media (max-width:600px) {
    .pageinscription, .pageconnexion {
        width:90%;
    }
}

form {
    width: 90%;
}

.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.formulaire input {
    width: 70%;
    height: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    background-color: #e6ddc6;
    outline: none;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: #6bb4d6;
    cursor: pointer;/*Pour que le bouton soit cliquable*/
}

.inscrivez-vous, .connectez-vous {
    font-size:12px;
    color: #3095cb;
}

.erreur {
    font-size:9px;
    color: #f58d8d;
}

/*INFORMATIONS.php*/

.pageinformations {
    width: 60%;
}

.paragraphinformations {
    gap: 25px;
    width: 60%;
    padding: 20px;
}

@media (max-width:600px) {
    .pageinformations, .paragraphinformations {
        width:90%;
    }
}

.paragraphinformations label {
    font-size: 20px;
    text-align: center;
}

.paragraphinformations input {
    width: 80%;
    height: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    background-color: #e6ddc6;
}

/*C'est le font awesome qui simule la modification d'un champ*/
.paragraphinformations i {
    margin-left: 3px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;/*Pour qu'il soit cliquable*/
}

.paragraphinformations i:hover, .paragraphinformations i:focus {
    color: white;
    background-color: black;
    transform: scale(1.2); /*Agrandire la case*/
}

.group {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.choixradio {
    display: flex;
    justify-content: center;
    gap: 7%;
    width: 70%;
}

input[type="radio"] {
    display: none;/*Pour cacher les boutons radio*/
}

/*Style des labels qui servent de boutons*/
.civiliteLabel {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #6bb4d6;
    cursor: pointer;
}

/*Réduit la taille de la police des labels de civilité si la largeur de l'écran est inférieure à 800px*/
@media (max-width:800px) {
    .civiliteLabel {
        font-size:15px;
    }
}

input[type="radio"]:checked + .civiliteLabel {
    transform: scale(1.2);/*Agrandire la case*/
    background-color: #3095cb;
}

a[href="../PHP/suppression.php"] {
    text-decoration: none;
    color: black;
    background-color: #f58d8d;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px;
}

/*ADMIN.php*/

.pageadmin {
    width: 70%;
}

@media (max-width:800px) {
    .pageadmin {
        width: 85%;
    }
}

.tablediv {
    width: 100%;
    overflow-x: auto; /*Active le scroll horizontal*/
    display: block; /*Assure que le scroll fonctionne*/
    text-align: center; /*Centre le contenu inline*/
    white-space: nowrap; /*Empêche le contenu de sauter à la ligne*/
}

.tableau {
    background-color: #e6ddc6;
    border : 2px solid;
    display: inline-block;
}

.tableau tr th {
    font-weight: bold;
    border : solid black;
    padding: 0px 10px 0px 10px;
}

.tableau tr td {
    font-weight: 400;
    border : solid black;
    padding: 0px 20px 0px 20px;
}

#bannis {
    border-color: #f58d8d;
}

#bannis tr:nth-child(1) {
    background-color: #f58d8d;
}

#vip {
    border-color: #9afab8;
}

#vip tr:nth-child(1) {
    background-color: #9afab8;
}

#utilisateur {
    border-color: #6bb4d6;
}

#utilisateur tr:nth-child(1) {
    background-color: #6bb4d6;
}

.modifier, .bannir, .promouvoir {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 9px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    color: black;
    cursor: pointer;
}

.modifier {
    background-color: #3095cb;
}

.bannir {
    background-color: #f58d8d;
}

.promouvoir {
    background-color: #9afab8;
}

.modifier:hover, .bannir:hover, .promouvoir:hover {
    transform: scale(1.2);
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9%;
}

.boutonadmin {
    text-decoration: none;
    color: black;
}

.boutonadmin:hover {
    color: rgb(123, 121, 121);
}

/*VOYAGE.php*/

.pagevoyage {
    width: 60%;
}

@media (max-width:800px) {
    .pagevoyage {
        width: 80%;
    }
}

.image345voyage {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
}

.destinationvoyage {
    display: flex;
    border-spacing: 5px;
    width: 100%;
}

.destinationvoyage tr td:nth-child(odd) {
    width: auto;
    height: 14vw;
}

.destinationvoyage tr td:nth-child(even) {
    height: 100px;
    border-bottom: 2px solid black;
    text-align: left;
}

.lienvoyage {
    text-decoration: none;
    color: black;
}