/*DEBUT DE L'ENTÊTE*/

@font-face {
    font-family: Star_Jedi;
    src: url(../Data/Starjedi.ttf);
}

body {
    background-image: url("../Data/blue_sky.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.horizontal {
    display: flex;
    align-items: center;/*Pour centrer le contenu verticalement*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;/*Pour le mettre au premier plan*/
    background-color: #37c2e1;
    border-bottom: 2px solid black;
}

.nomSite {
    display: flex;
    justify-content: flex-start;/*Pour qu'il se positionne à gauche*/
    align-items: center;
    font-family: Star_Jedi;
    font-size: 40px;
    margin: 0px 0px 7px 10px;
    word-spacing: -13px;/*Pour coller un peu plus le mot "Star" du mot "Tour" dans le nom du site*/
}

.horizontal a[href="index.php"], .horizontal a[href="connexion.php"], .horizontal a[href="inscription.php"], .horizontal a[href="informations.php"], .horizontal a[href="admin.php"], .horizontal a[href="../PHP/deconnexion.php"] {
    text-decoration: none;
    color : black;
}

.recherche {
    display: flex;
    align-items: center;
    width: 270px;
    height: 30px;
    margin-left: auto;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #3095cb;
}

.recherche input[type="text"] {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #3095cb;
    color: black;
    width: 260px;
    padding: 5px;
    border: none;
    outline: none;
}

.informations, .inscription, .connexion, .deconnexion, .admin, .annuler, .couleur, .panier {
    display: flex;
    justify-content: flex-end;/*Pour le mettre tout à droite*/
    align-items: center;
    height: 40px;
    margin: 0px 15px 0px 15px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #3095cb;
    box-sizing: border-box;
    /*border-box permet d'inclure le padding et la bordure dans le height pour que les elements soient toujours alignes*/
}

.informations a:hover, .inscription a:hover, .connexion a:hover, .deconnexion a:hover, .admin a:hover, .panier i:hover, .informations:hover a, .inscription:hover a, .connexion:hover a, .deconnexion:hover a, .admin:hover a, .panier:hover {
    color: #3095cb;
}

.informations:hover, .inscription:hover, .connexion:hover, .deconnexion:hover, .admin:hover, .panier:hover {
    background-color: black;
}

.couleur {
    margin-left: auto;
    cursor: pointer;
    background: linear-gradient(to right, #3095cb 50%, white 50%);
}

.informations, .inscription {
    margin: 0px;
}

.annuler {
    height: auto;
    border-width: 1px;
    margin: 0px;
    cursor: pointer;
}

.admin {
    margin-left: 0px;
}

/*Cache et réduit la largeur quelques elements de l'entête si la largeur de l'écran est inférieure à 870px*/
@media (max-width:870px) {
    .montre {
        display: none;/*Pour ne pas afficher un élément*/
    }

    .recherche input[type="text"] {
        width: 150px;
    }

    .recherche {
        width: 160px;
    }
}

/*Cache quelques elements de l'entête si la largeur de l'écran est inférieure à 564px*/
@media (max-width:564px) {
    .montre2 {
        display: none;/*Pour ne pas afficher un élément*/
    }
}

/*FIN DE L'ENTÊTE*/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 75px auto 0px auto;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    background-color: #6bb4d6;
}

/*Réduit la taille de la police si la largeur de l'écran est inférieure à 628px*/
@media (max-width:628px) {
    .nomSite {
        font-size:30px;
    }
    
    .section {
        font-size:20px;
    }
}

/*Réduit la taille de la police si la largeur de l'écran est inférieure à 410px*/
@media (max-width:410px) {
    .nomSite {
        font-size:25px;
    }
}

.paragraph {
    display: flex;
    flex-direction: column;/*Pour que le flux soit vers le bas*/
    align-items: center;
    gap: 20px; /*Pour espacer les éléments*/
    width: 80%;
    height: auto;
    margin: 5px auto 0px auto;
    padding: 1px 0px 20px 11px;
    border-radius: 10px;
    box-sizing: border-box;/*Pour faire en sorte que la largeur et hauteur définies ne tiennent pas en compte de border et padding*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    color: black;
    background-color: #e6ddc6;
}

/*Pour que même si on réduit le zoom de la page tout soit centré au milieu et pas étiré (ici c'est min-width qui est utilisé pas max-width)*/
@media (min-width:1000px) {
    .paragraph, .section {
        width:1000px;
    }
}

.image-container {
    display: flex;
    justify-content: space-between; /*Pour écarter les images*/
    width: 70%;
    padding: 0 15%;
}

.image1, .image2 {
    width: 40%;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
}

.image345 {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
}

.destination {
    display: flex;
    border-spacing: 5px;
    width: 100%;
}

.destination tr td:nth-child(odd) {
    width: 25%;
    height: 15%;
}

.destination tr td:nth-child(even) {
    height: 15%;
    border-bottom: 2px solid black;
    text-align: left;
}

a[href="destinations.php"] {
    display: flex;
    justify-content: center;/*Pour centrer horizontalement*/
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    background-color: #3095cb;
}

a[href="destinations.php"]:hover {
    color: #3095cb;
    background-color: black;
}

/*DESTINATIONS.php*/

.group1, .group4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 70%;
    margin-top: 10px;
}

.group4 {
    margin: 0px;
    width: 30%;
}

.recherchedestinations {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.recherchedestinations input[type="text"] {
    display: flex;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    background-color: #3095cb;
    outline: none;
}

.filtrer {
    display: flex;
    width: 90%;
    height: auto;
    padding: 7px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
    color: black;
    background-color: #3095cb;
}

.group2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.group2 ul {
    text-decoration: none;
    width: 100%;
}

.group2 ul li {
    display: inline-block;/*Pour mettre les li sur la même ligne*/
    width: auto;
    height: auto;
    vertical-align: top;
    margin: 0px 10px 30px 0px;
}

.group2 ul li a {
    text-decoration: none;
    color: black;
}

.group3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.endroit {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    border: 2px solid black;
}

.imagedestination {
    height: auto;
    width: 290px;
}

.group2 p {
    width:290px;
    padding-left: 3px;
    box-sizing: border-box;
}

.titredestination {
    display: flex;
    justify-content: center;
    font-family: Star_Jedi;
    font-size: 13px;
    margin-bottom: 0px;
}

/*CONNEXION.php*/ /*INSCRIPTION.php*/

.pageconnexion {
    width: 600px;
}

.pageinscription {
    width: 600px;
}

@media (max-width:600px) {
    .pageinscription, .pageconnexion {
        width:90%;
    }
}

form {
    width: 90%;
}

.formulaire, .etape, .etapeCache {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.etapeCache {
    display: none;
}

.formulaire input, .formulaire select {
    width: 70%;
    height: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    background-color: #e6ddc6;
    outline: none;
}

.formulaire select {
    height: auto;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: #6bb4d6;
    cursor: pointer;/*Pour que le bouton soit cliquable*/
}

.group5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 100%;
    font-size: 20px;
}

.pclass, .pclass1 {
    font-size: 15px;
}

.pclass1 {
    margin-left: 5px;
}

.inscrivez-vous, .connectez-vous {
    font-size:12px;
    color: #3095cb;
}

.erreur, .erreur1, .erreurmail {
    font-size:9px;
    text-align: center;
    color: #f58d8d;
}

.erreur, .erreurmail {
    margin-top: -19px;
}

.erreurmail {
    display: none;
}

.erreur1 {
    margin: 0px auto 0px auto;
}

#erreurmailexistant {
    margin-top: -25px;
}

#erreurmailexistantAdmin, #erreurmailexistantUtilisateur, #erreurmailexistantBanni {
    margin: 0px auto 0px auto;/*Pour centrer horizontalement*/
}

/*INFORMATIONS.php*/

.pageinformations {
    width: 600px;
}

.paragraphinformations {
    gap: 25px;
    width: 600px;
    padding: 0px 0px 20px 0px;
}

@media (max-width:630px) {
    .pageinformations, .paragraphinformations {
        width:90%;
    }
}
/*Si l'écran fait au moins 630px alors le paragraphe fera 600px sinon ca sera un pourcentage pour que ca ne sorte pas de la page*/

.paragraphinformations label {
    font-size: 20px;
    text-align: center;
}

.paragraphinformations input, .paragraphinformations a, .champ, .champ1, .champdate {
    width: 80%;
    height: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    background-color: #e6ddc6;
}

.paragraphinformations a {
    color: black;
    height: auto;
}

.paragraphinformations a {
    background-color: #6bb4d6;
}

.paragraphinformations a:hover {
    color: #6bb4d6;
    background-color: black;
}

/*C'est le font awesome qui simule la modification d'un champ*/
.paragraphinformations i {
    margin-left: 3px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;/*Pour qu'il soit cliquable*/
    background-color: #3095cb;
}

.paragraphinformations i:hover, .paragraphinformations i:focus {
    color: #3095cb;
    background-color: black;
    transform: scale(1.2); /*Agrandire la case*/
}

.group {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.choixradio {
    display: flex;
    justify-content: center;
    gap: 7%;
    width: 70%;
}

input[type="radio"] {
    display: none;/*Pour cacher les boutons radio*/
}

/*Style des labels qui servent de boutons*/
.civiliteLabel {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #6bb4d6;
    cursor: pointer;
}

/*Réduit la taille de la police des labels de civilité si la largeur de l'écran est inférieure à 800px*/
@media (max-width:800px) {
    .civiliteLabel {
        font-size:15px;
    }
}

input[type="radio"]:checked + .civiliteLabel {
    transform: scale(1.2);/*Agrandire la case*/
    background-color: #3095cb;
}

a[href="../PHP/suppression.php"] {
    text-decoration: none;
    color: black;
    background-color: #f58d8d;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px;
}

a[href="../PHP/suppression.php"]:hover {
    color: black;
    background-color: #f58d8d;
}

/*ADMIN.php*/

.pageadmin {
    width: 1000px;
}

@media (max-width:1030px) {
    .pageadmin {
        width: 85%;
    }
}
/*Si l'écran fait au moins 1030px alors le paragraphe fera 1000px sinon ca sera un pourcentage pour que ca ne sorte pas de la page*/

.formulaireadmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tablediv {
    width: 100%;
    overflow-x: auto; /*Active le scroll horizontal quand l'écran est réduit*/
    display: block; /*Assure que le scroll fonctionne*/
    text-align: center; /*Centre le contenu inline*/
    white-space: nowrap; /*Empêche le contenu de sauter à la ligne*/
}

.tableau {
    background-color: #e6ddc6;
    border : 2px solid;
    display: inline-block;
}

.tableau tr th {
    font-weight: bold;
    font-size: 13px;
    border : solid black;
    padding: 1px 9px 1px 1px;
}

.tableau tr td {
    font-weight: 400;
    border : solid black;
    padding: 1px 9px 1px 1px;
}

.tableau td:nth-child(1) {
    padding-left: 10px;
}

.titreadmins, .titreutilisateurs, .titrebannis {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 0px;
}

.modifier, .bannir, .promouvoir {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 9px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    color: black;
    cursor: pointer;
}

#bannis {
    border-color: #f58d8d;
}

#bannis tr:nth-child(1), .titrebannis, .bannir {
    background-color: #f58d8d;
}

#vip {
    border-color: #9afab8;
}

#vip tr:nth-child(1), .titreadmins, .promouvoir {
    background-color: #9afab8;
}

#utilisateur {
    border-color: #6bb4d6;
}

#utilisateur tr:nth-child(1), .titreutilisateurs, .modifier {
    background-color: #6bb4d6;
}

.modifier:hover, .bannir:hover, .promouvoir:hover {
    transform: scale(1.2);
}

#utilisateur input, #vip input, #bannis input, #utilisateur select, #vip select, #bannis select {
    width: 100%;
    border: none; /*Sans bordures*/
    outline: none; /*Sans contours*/
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 13px;
    background-color: #e6ddc6;
}

#utilisateur button, #vip button, #bannis button {
    margin: 1px 0px 1px 0px;
    padding: 0px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9%;
}

.boutonadmin {
    text-decoration: none;
    color: black;
}

.boutonadmin:hover, .pageadmin button:hover {
    color: rgb(123, 121, 121);
}

/*VOYAGE.php*/

.pagevoyage {
    width: 800px;
}

@media (max-width:800px) {
    .pagevoyage {
        width: 80%;
    }
}
/*Si l'écran fait au moins 800px alors le paragraphe fera 800px sinon ca sera un pourcentage pour que ca ne sorte pas de la page*/

.image345voyage {
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
}

.destinationvoyage {
    display: flex;
    border-spacing: 5px;
    width: 100%;
}

.destinationvoyage tr td:nth-child(odd) {
    width: 40%;
}

.destinationvoyage tr td:nth-child(even) {
    border-bottom: 2px solid black;
    text-align: left;
}

.lienvoyage {
    text-decoration: none;
    color: black;
}

.champ, .champ1 {
    width: 70%;
}

.champ1 {
    height: auto;
}

.lienretour {
    text-decoration: none;
    color: black;
    background-color: #3095cb;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    height: 25px;
}

button {
    background: none;
    border: none;
    font: inherit; /*Prend le font du parent*/
    cursor: pointer;
}

.changerChamps {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ETAPES.php*/

.lienetapes {
    display: flex;
    justify-content: center;/*Pour centrer horizontalement*/
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    background-color: #3095cb;
}

.pageetapes {
    width: 600px;
}

@media (max-width:630px) {
    .pageetapes {
        width:90%;
    }
}

.titreetapes {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 0px;
    background-color: #3095cb;
}

/*PANIER.php*/

.panier {
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;/*Pour le mettre au premier plan*/
    font-size: 20px;
    height: 50px;
    margin: 0px 10px 0px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 14px;
    cursor: pointer;
    /*Pour rendre le bouton qui change les couleurs cliquable*/
}

.pagepanier {
    width: 700px;
}

@media (max-width:700px) {
    .pagepanier {
        width:90%;
    }
}

.paragraphpanier {
    gap: 25px;
    padding: 0px 0px 20px 0px;
}

.pagepanier a {
    color: black;
    height: auto;
}

.pagepanier i {
    margin-left: 3px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;/*Pour qu'il soit cliquable*/
    background-color: #3095cb;
}

.pagepanier i:hover, .pagepanier i:focus {
    color: #3095cb;
    background-color: black;
    transform: scale(1.2); /*Agrandire la case*/
}

.paniertab {
    display: flex;
    border-spacing: 5px;
    width: 100%;
}

.paniertab tr td:nth-child(1) {
    width: 25%;
    height: 15%;
}

.paniertab tr td:nth-child(2) {
    height: 15%;
    border-bottom: 2px solid black;
    text-align: left;
}

.paniertab tr td:nth-child(3) {
    width: 9%;
    height: 15%;
}