.image1{
    float : left;
    width: 35%;
}

section{
    padding-top: 0%;
}

.paragraph{
    padding: 15px 15px 15px 15px;
}

.information{
    margin-left: 40%;
    margin-right: 10px;
}

.description{
    background-color: aqua;
}